/* custom props */
:root {
    --blue: #5281CE;
    --purple: #998CEB;
    --yellow: #E9D787;
    --teal: #9EF5FF;
    --green: #BAE8AC;
    --tan: #F5F0E7;

    --light-blue: #9DDCFF;
    --hover-blue: #7AB8E5;
    
    /* Darker shades */
    --dark-purple: #7A6EB8;
    --dark-yellow: #C2B26A;
    --dark-teal: #78CCDA;
    --dark-green: #94C987;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html {
    background-color: var(--tan);
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
}  

header, section {
    padding: 25px 20px;
}

section {
    background-color: #FFFFFF;
}

header {
    position: fixed;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 25px 40px;
    z-index: 10;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: auto;
}
  
.logo {
    font-weight: 800;
    font-size: 36px;
    padding: 0;
}
  
nav ul, .footer__nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
  
nav li {
    margin: 0 1em;
    padding: 20px;
}

.nav__logo {
    flex: 1;
    text-align: center;
}
  
.nav__link {
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}
  
.current {
    font-weight: 800;
    background-image: linear-gradient(transparent 0%, transparent 50%, var(--light-blue) 50%, var(--light-blue) 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
  
.hero__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

img {
    z-index: 1;
}

.hero__img img {
    width: 100%;
    height: auto;
}

.hero__info {
    flex: 1;
    text-align: center;
}

.hero__info h1, .about__header h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px; 
}

.work, .work__project, .about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__title {
    font-size: 36px;
    font-weight: 800;
    align-self: flex-start;
    margin-bottom: 50px;
}

.back {
    font-size: 36px;
    font-weight: 800;
    align-self: flex-start;
    margin: 1em 0;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.word {
    width: 130px;
}

.project1 .img__dummy, .project1 .card__content, .project1 .project__img{
    box-shadow: 10px 10px 0px var(--green); /* Use green drop shadow for project 1 */
}

.project2 .img__dummy, .project2 .card__content, .project2 .project__img{
    box-shadow: 10px 10px 0px var(--yellow); /* Use blue drop shadow for project 2 */
}

.project3 .img__dummy, .project3 .card__content, .project3 .project__img{
    box-shadow: 10px 10px 0px var(--light-blue); /* Use purple drop shadow for project 3 */
}


.project__info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.project__header, .work__title a, .back a {
    align-self: flex-start;
    border-radius: 5px;
    margin-top: 50px;
}

.project__header h2, .project__header-2 h2 {
    font-size: 32px;
    font-weight: 700;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 26px;
    right: 26px; 
    z-index: 99; 
    cursor: pointer; 
    padding: 15px; 
}

#close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    font-weight: 700;
    padding: 2px 14px;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
    z-index: 999;
}


.project1 .project__header, .project1 .back a {
    background-color: var(--green);
}

.project2 .project__header, .project2 .back a {
    background-color: var(--yellow);
}

.project3 .project__header, .project3 .back a {
    background-color: var(--light-blue);
}


.project__description p, .project__description-2 p {
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0;
    line-height: 24px;
}

.project__btn {
    align-self: flex-start;
}

.project__btn button, .about__btn button, .view__project button, #myBtn {
    font-size: 25px;
    font-weight: 700;
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
}

.view__buttons {
    display: flex;
}

.project__btn button:hover, .about__btn button:hover, .view__project button:hover, #myBtn:hover {
    transform: translate(2px, 4px);
}

.project1 button {
    box-shadow: 8px 8px 0px var(--green);
}

.project1 button:hover {
    box-shadow: 4px 4px 0px var(--dark-green);
}

.project2 button {
    box-shadow: 8px 8px 0px var(--yellow);
}

.project2 button:hover {
    box-shadow: 4px 4px 0px var(--dark-yellow); /* Smaller and darker shadow */
}

.project3 button {
    box-shadow: 8px 8px 0px var(--light-blue);
}

.project3 button:hover {
    box-shadow: 4px 4px 0px var(--dark-teal); /* Smaller and darker shadow */
}

.project4 button {
    box-shadow: 8px 8px 0px var(--purple);
}

.project4 button:hover {
    box-shadow: 4px 4px 0px var(--dark-purple); /* Smaller and darker shadow */
}

footer {
    background-color: #000000;
    color: #FFFFFF;
    height: 100px; /* Set the footer height */
    margin-top: auto; /* Push the footer to the bottom */
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}

.footer__logo .logo {
    font-size: 25px;
}

.footer__logo .logo {
    margin: 0;
}

.footer__link {
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__nav li {
    margin: 0 10px;
    text-align: right;
}


/* project */ 

.project__header-2 {
    margin-top: 50px;
}

.main {
    margin-top: 0;
    margin-bottom: 0;
}

.img__project {
    display: inline-block;
    max-width: 100%;
}

.project__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #000000;
    background-color: #FFFFFF;
    padding: 2px;
}

.project__img .our {
    background-color: #FFEB8C;
    padding: 1em;
}

.project__img .our-2 {
    background-color: #9DDCFF;
    padding: 1em;
}

.project__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding-top: 67px;
    padding-bottom: 40px;
}

.card__content {
    flex: 1;
    max-width: none; 
    max-height: none;
    padding: 20px; 
    border: 3px solid #000000;
    border-radius: 10px;  
}

.project__img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.multiple__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.view__project button{
    width: 210px;
}

/* about me */ 
.back a, .logo a{
    text-decoration: none;
    color: black;
}

.back {
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    width: 300px;
    top: 25px;
}


.about__container {
    max-width: 1200px;
}

.about__me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}
  
.about__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.about__img img {
    height: auto;
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__description {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

.about__btn button {
    box-shadow: 8px 8px 0px var(--light-blue);
}

.about__btn button:hover {
    box-shadow: 6px 6px 0px var(--dark-teal);
}

.footer__logo a {
    color: #FFFFFF;
}

.preview .img__project img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.home {
    margin-top: 0;
    margin-bottom: 100px;
    position: relative;
    z-index: 0
}

#fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.5s; /* Add smooth transition for zoom effect */
}

.no-scroll {
    overflow: hidden;
}



@media (max-width: 600px) {
    body {
        font-size: 14px; /* Smaller font size for smaller screens */
    }

    header, section {
        padding: 25px;
    }

    .logo {
        padding-left: 40px; 
    }

    .nav__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .hamburger__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .bar {
        width: 30px; 
        height: 3px; 
        background-color: #000;
        transition: transform 0.3s ease;
        border-radius: 2px;
        margin: 4px auto; 
    }

    .hamburger__menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px); /* Adjust the rotation and translation values */
    }

    .hamburger__menu.active .bar:nth-child(2) {
        transform: rotate(-45deg) translate(4px, -4px); /* Adjust the rotation and translation values */
    }

    .nav__links {
        position: fixed;
        top: -100%;
        left: 0;
        height: auto;
        background-color: #FFFFFF;
        width: 100%;
        border-top: 3px solid #000000;
        border-bottom: 3px solid #000000;
        transition: all 0.3s ease-in-out;
        z-index: 9999;
    }
    
    .nav__links.show {
        top: 100px;
    }

    .word {
        display: none;
    }

    footer .logo {
        padding-left: 0; 
    }

    .work, .work__project {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 2em;
        padding-bottom: 2em;
    }

    .about {
        padding: 4em 2em;
    }

    .view__buttons {
        flex-direction: column;
        gap: 40px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 14px; /* Smaller font size for smaller screens */
    }

    .logo {
        padding-left: 40px;
    }

    header, section {
        padding: 25px;
    }

    .nav__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .hamburger__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .bar {
        width: 30px; 
        height: 3px; 
        background-color: #000;
        transition: transform 0.3s ease;
        border-radius: 2px;
        margin: 4px auto; 
    }

    .hamburger__menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px); /* Adjust the rotation and translation values */
    }

    .hamburger__menu.active .bar:nth-child(2) {
        transform: rotate(-45deg) translate(4px, -4px); /* Adjust the rotation and translation values */
    }

    .nav__links {
        position: fixed;
        top: -100%;
        left: 0;
        height: auto;
        background-color: #FFFFFF;
        width: 100%;
        border-top: 3px solid #000000;
        border-bottom: 3px solid #000000;
        transition: all 0.3s ease-in-out;
    }
    
    .nav__links.show {
        top: 100px;
        z-index: 1;
    }

    .word {
        display: none;
    }

    footer .logo {
        padding-left: 0; 
    }

    .work, .work__project, .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 4em;
    }


}

@media (min-width: 768px) {
    header, section {
        padding: 25px;
    }

    nav {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger__menu {
        display: none;
    }

    .logo {
        padding-left: 0;
    }

    .nav__links {
        display: block;
        position: static; /* Reset the position */
        top: auto; /* Reset the top property */
        width: auto; /* Reset the width */
        border: none; /* Reset the border */
        background-color: transparent; /* Reset the background color */
        transition: none; /* Remove transition */
    }


    nav ul, .footer__nav ul {
        list-style-type: none;
        display: flex;
        margin: 0;
    }

    nav li {
        margin: 0;
        padding: 0 .8em;
    }

    .preview .img__project img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px; 
        position: relative;
    }

    #myBtn {
        visibility: hidden;
    }

    .work, .work__project, .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 4em;
    }

    .view__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .word {
        display: block;
    }

    .arrow {
        display: none;
    }

    .nav__link:hover, .logo a:hover, .footer__link:hover {
        color: var(--blue);
    }
}


/* Media query for medium devices */
@media (min-width: 992px) {
    body {
        font-size: 18px; /* Larger font size for medium screens */
        background-color: var(--tan);
    }
    
    .logo {
        padding-left: 0;
    }

    header, section {
        margin: 0 4em;
        border-left: 3px solid black;
        border-right: 3px solid black;
        background-color: #FFFFFF;
        padding: 25px;
    }
    
    .nav__logo {
        flex: 1;
        text-align: center;
    }
    
    
    .logo {
        font-weight: 800;
        font-size: 36px;
        margin: 0 auto;
    }
    
    
    nav ul, .footer__nav ul {
        list-style-type: none;
        display: flex;
        margin: 0;
    }
    
    
    .nav__link {    
        font-size: 24px;
        text-decoration: none;
        color: #000;
    }

    nav {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .hamburger__menu, #myBtn {
        display: none;
    }

    .nav__links {
        display: block;
        position: static; /* Reset the position */
        top: auto; /* Reset the top property */
        width: auto; /* Reset the width */
        border: none; /* Reset the border */
        background-color: transparent; /* Reset the background color */
        transition: none; /* Remove transition */
    }


    nav ul, .footer__nav ul {
        list-style-type: none;
        display: flex;
        margin: 0;
    }

    nav li {
        margin: 0;
        padding: 0 .8em;
    }

    .preview .img__project img {
        height: 450px; 
    }

    .footer__container {
        padding: 0 40px;
    }

    .footer__nav li {
        margin: 0 20px
    }

    .project__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        padding-top: 67px;
        padding-bottom: 40px;
    }

    .work, .work__project, .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 6em;
    }

    .word {
        display: block;
    }

    .arrow {
        display: none;
    }

    .nav__link:hover, .logo a:hover, .footer__link:hover {
        color: var(--blue);
    }
}

/* desktop styles */
@media (min-width: 1200px) {
    body {
        background-color: var(--tan);
    }

    header, section {
        margin: 0 8em;
        border-left: 3px solid black;
        border-right: 3px solid black;
        background-color: #FFFFFF;
        max-width: 1600px;
    }

    header {
        margin: 0 8em;
    }
    
    .nav__logo {
        flex: 1;
        text-align: center;
    }
    
    
    .logo {
        font-weight: 800;
        font-size: 36px;
        margin: 0 auto;
        padding-left: 0;
    }
    
    
    nav ul, .footer__nav ul {
        list-style-type: none;
        display: flex;
        margin: 0;
    }
    
    nav li {
        margin: 0 .3em;
    }
    
    .nav__link {    
        font-weight: 400;
        font-size: 24px;
        text-decoration: none;
        color: #000;
    }
    
    .current {
        font-weight: 800;
        background-image: linear-gradient(transparent 0%, transparent 50%, var(--light-blue) 50%, var(--light-blue) 100%);
        background-size: 100% 100%; /* Adjust background size to cover half of the height */
        background-repeat: no-repeat;
    }
    
    .hero__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 0; 
    }
      
    .hero__img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        max-width: 30%;
    }

    .hero__img img {
        width: 100%;
        height: auto;
    }

    .hero__info {
        flex: 1;
        padding-left: 20px;
        max-width: 70%; 
        text-align: left;
        margin-top: 20px;
    }
    
    .hero__info h1 {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 10px; 
    }
    
    .work, .work__project, .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 6em; 
    }
    
    .work__container, .hero__container {
        max-width: 1200px; 
    }
    
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }
    
    .project1 .img__dummy, .project1 .card__content, .project1 .project__img{
        box-shadow: 10px 10px 0px var(--green); /* Use green drop shadow for project 1 */
    }
    
    .project2 .img__dummy, .project2 .card__content, .project2 .project__img{
        box-shadow: 10px 10px 0px var(--yellow); /* Use blue drop shadow for project 2 */
    }
    
    .project3 .img__dummy, .project3 .card__content, .project3 .project__img{
        box-shadow: 10px 10px 0px var(--light-blue); /* Use purple drop shadow for project 3 */
    }
    
    
    .project__info {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    
    .project__header {
        align-self: flex-start;
        border-radius: 5px;
        margin-top: 50px;
    }
    
    .project__header h2, .project__header-2 h2 {
        font-size: 32px;
        font-weight: 700;
    }
    
    .project1 .project__header {
        background-color: var(--green);
    }
    
    .project2 .project__header {
        background-color: var(--yellow);
    }
    
    .project3 .project__header {
        background-color: var(--light-blue);
    }
    
    
    .project__description p, .project__description-2 p {
        font-size: 18px;
        font-weight: 400;
        padding: 20px 0;
        line-height: 24px;
    }
    
    .project__btn {
        align-self: flex-start;
    }
    
    .project__btn button, .about__btn button, .view__project button {
        font-size: 25px;
        font-weight: 700;
        padding: 10px 15px;
        text-decoration: none;
        border: 2px solid #000000;
        border-radius: 10px;
        color: #000000;
        background-color: #FFFFFF;
        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
    }

    footer {
        background-color: #000000;
        color: #FFFFFF;
        height: 100px;
    } 
    
    .footer__container {
        display: flex;
        justify-content: space-between;
        padding: 0 8em;
        align-items: center;
        height: 100%;
    }
    
    .footer__link {
        font-weight: 800;
        font-size: 20px;
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .footer__nav li {
        margin: 0 1em;
    }
    
    /* project */ 
    
    .project__header-2 {
        margin-top: 50px;
    }
    
    .main {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .img__project {
        display: inline-block;
        max-width: 100%;
    }
    
    .project__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 3px solid #000000;
        background-color: #FFFFFF;
        padding: 2px;
    }
    
    .project__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .project__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        padding-top: 67px;
        padding-bottom: 40px;
    }
    
    .card__content {
        flex: 1;
        max-width: 300px; 
        max-height: 300px;
        padding: 20px; 
        border: 3px solid #000000;
        border-radius: 10px;  
    }
    
    .project__img {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .divider {
        width: 4px;  
        height: 100%;
        margin: 0 20px; 
    }
    
    .multiple__images {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .view__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        padding-bottom: 70px;
    }
    
    .view__project button{
        width: 210px;
    }
    
    /* about me */ 
    .back a, .logo a{
        text-decoration: none;
        color: black;
    }
    
    .about__me {
        flex-direction: row;
    }
      
    .about__img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        max-width: 40%;
    }
    
    .about__info {
        max-width: 60%;
    }
    
    .about__header {
        font-size: 40px;
        font-weight: 700;
    }
    
    .about__description {
        font-size: 18px;
        font-weight: 400;
    }
    
    .footer__logo a {
        color: #FFFFFF;
    }
    
    .preview .img__project img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 460px; 
        position: relative;
    }

    #myBtn {
        display: none;
        position: relative;
    }
    
    .word {
        display: block;
    }

    .arrow {
        display: none;
    }

    .nav__link:hover, .logo a:hover, .footer__link:hover {
        color: var(--blue);
    }
}
